.floating{
    justify-content: space-around;
    display: flex;
    background: red;
    box-shadow: gray;

}
.floating>img{
    transform: scale(0.4);
}
.floating>span{
    font-family: sans-serif;
    font-size: 16px;
}